*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}
.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}
#navbar_logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #002695 0%, #8333FF 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;

}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: nonw;
    height: 100%;
    transition: all 0.3s ease;

}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%; 
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #002695;
    background: -webkit-linear-gradient(to right, #8333FF,#002695,#33FFFF);
    background: linear-gradient(to right, #8333FF,#002695,#33FFFF);
    color:#fff ;
    transition: all 0.3s ease;
}
.navbar__links:hover {
    color:#002695;
    transition: all 0.3s ease;

}
/* Hero Section */
.hero {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  
  .hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
  }
  
  .hero__heading span {
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ff6a00,
      #ee0979
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ff6a00,
      #ee0979
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }
  
  .hero__description {
    font-size: 60px;
    background: #da22ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #9114ff,
      #da22ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8f0eff,
      #da22ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
  }
/* About Section */
.main {
    background-color: #131313;
    padding: 10rem 0;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .main__content {
    color: #fff;
    width: 100%;
  }
  
  .main__content h1 {
    font-size: 2rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .main__content h2 {
    font-size: 4rem;
    background: #ff8177; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #9114ff,
      #da22ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8f0eff,
      #da22ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
 
  
  .main__img--container {
    text-align: center;
  }
  
  
  
  .fa-layer-group,
  .fa-users {
    font-size: 14rem;
  }

 
  /* Contact Section */
.contact {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
  }
  
  .contact h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }

  .contact__form {
    margin-top: 3rem;
    position: relative;
    left: 200px;
    top: -130px;
  }
  
  .contact__form label {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .contact__form input,
  .contact__form textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 4px;
  }
  
  .contact__form textarea {
    resize: vertical;
  }
  
  .contact__form button {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    background-color: #fe3b6f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact__form button:hover {
    background-color: #ed1a52;
  }
